---
apiVersion: v1
kind: ConfigMap
metadata:
  name: prometheus-server-conf
  labels:
    name: prometheus-server-conf
  namespace: default
data:
  prometheus.rules: |-
    groups:
    - name: devopscube demo alert
      rules:
      - alert: High Pod Memory
        expr: sum(container_memory_usage_bytes) > 1
        for: 1m
        labels:
          severity: slack
        annotations:
          summary: High Memory Usage

  prometheus.yml: |-
    global:
      scrape_interval: 5s
      evaluation_interval: 5s
    rule_files:
      - /etc/prometheus/prometheus.rules
    alerting:
      alertmanagers:
      - scheme: http
        static_configs:
        - targets:
          - "alertmanager.monitoring.svc:9093"

    scrape_configs:
      - job_name: 'kubernetes-pods'
        kubernetes_sd_configs:
          - role: pod
        relabel_configs:
          # Only scrape pods which have a port labeled metrics and 
          # the scrape annotation
          - source_labels: [__meta_kubernetes_pod_annotation_prometheus_io_scrape]
            action: keep
            regex: true
          - source_labels: [__meta_kubernetes_pod_container_port_name]
            action: keep
            regex: "metrics"
          - action: labelmap
            regex: __meta_kubernetes_pod_(.+)

      - job_name: 'kubernetes-nodes'
        scheme: https
        bearer_token_file: /var/run/secrets/kubernetes.io/serviceaccount/token
        tls_config:
          insecure_skip_verify: true
        kubernetes_sd_configs:
          - role: node
        relabel_configs:
          - action: labelmap
            regex: __meta_kubernetes_node_label_(.+)

      - job_name: 'kubernetes-cadvisor'
        scheme: https
        metrics_path: /metrics/cadvisor
        bearer_token_file: /var/run/secrets/kubernetes.io/serviceaccount/token
        tls_config:
          insecure_skip_verify: true
        kubernetes_sd_configs:
          - role: node
        relabel_configs:
          - source_labels: [__meta_kubernetes_node_address_InternalIP]
            target_label: __address__
            regex: (.*)
            replacement: $1:10250
      
      - job_name: 'consul'
        metrics_path: /v1/agent/metrics
        params:
          format: ['prometheus']
        kubernetes_sd_configs:
          - role: pod
        relabel_configs:
          # Only scrape pods which have a port labeled metrics and 
          # the scrape annotation
          - source_labels: [__meta_kubernetes_pod_label_app]
            action: keep
            regex: "consul"
          - source_labels: [__meta_kubernetes_pod_container_port_name]
            action: keep
            regex: "http"

---
# Adeitional scraping for K8s
#      - job_name: 'kubernetes-apiservers'
#        scheme: https
#        bearer_token_file: /var/run/secrets/kubernetes.io/serviceaccount/token
#        tls_config:
#          ca_file: /var/run/secrets/kubernetes.io/serviceaccount/ca.crt
#        kubernetes_sd_configs:
#        - role: endpoints
#
#      - job_name: 'kubernetes-nodes'
#        scheme: https
#        bearer_token_file: /var/run/secrets/kubernetes.io/serviceaccount/token
#        tls_config:
#          ca_file: /var/run/secrets/kubernetes.io/serviceaccount/ca.crt
#        kubernetes_sd_configs:
#        - role: node
#
#      - job_name: 'kubernetes-service-endpoints'
#        kubernetes_sd_configs:
#        - role: endpoints
